<a href="https://colab.research.google.com/github/z-gard/analysis/blob/main/notebooks/nearby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 付近の検索
- [Nearby Search](https://developers.google.com/maps/documentation/places/web-service/search-nearby)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [47]:
DIR_NAME = '/content/drive/MyDrive/z-gard/data'

In [70]:
import os
import requests
import json
import pandas as pd
from urllib.parse import urlparse, quote
import io
import numpy as np

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [71]:
df_pop_master = pd.read_csv(os.path.join(DIR_NAME, 'population_master.csv'))[['地域ID', '市区町村名', '町名', '町丁目', '緯度', '経度']]
print(df_pop_master.shape)

(3145, 6)

In [72]:
YOUR_API_KEY = 'AIzaSyAmNosrl61Q0iB9HyH0WBAjazHKvBR28RI'

### type
- convenience_store
- supermarket
- shopping_mall
- train_station
- park
- gym
- spa

#### rankby
- prominence ... 重要性に基づいて結果をソート。radiusは必須
- distance ... 距離で検索結果を昇順にソート。radiusは不可

In [89]:
def get_place_nearby(unique_no, lat, lng, place_type, rankby='distance'):
    radius = '' if rankby == 'distance' else '&radius=1000'
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{lng}&type={place_type}&rankby={rankby}{radius}&language=ja&key={YOUR_API_KEY}"
    response = requests.get(url)
    if response.status_code == requests.codes.ok:
        res_json = response.json()
        if res_json['status'] == 'OK':
            _df = pd.DataFrame(res_json['results'])
            _df['no'] = unique_no
            return _df
        else:
            print(f"{unique_no}, status={res_json['status']}")
    else:
        print(f'{unique_no}, status_code={response.status_code}')
    
    return pd.DataFrame([{'no': unique_no}])

In [139]:
def get_loc_lat(x):
    try:
        return x['location']['lat']
    except:
        return np.NaN

def get_loc_lng(x):
    try:
        return x['location']['lng']
    except:
        return np.NaN  

# 付近を探す(近さ優先)
def get_nearby_place(place_type, df_master):
    rankby = 'distance'
    df_result = pd.DataFrame()
    for index, row in df_master.iterrows():
        if not np.isnan(row['緯度']):
            _tmp = get_place_nearby(row['地域ID'], row['緯度'], row['経度'], place_type, rankby)
            df_result = pd.concat([df_result, _tmp])
    return df_result.reset_index(drop=True)

# 重複削除
def drop_duplicates_nearby_results(df_result, subset='place_id'):
    _tmp = df_result.drop_duplicates(subset=subset).reset_index(drop=True)
    _tmp['lat'] = _tmp['geometry'].apply(get_loc_lat)
    _tmp['lng'] = _tmp['geometry'].apply(get_loc_lng)
    return _tmp[_tmp['business_status'] == 'OPERATIONAL']\
        [['name', 'lat', 'lng', 'rating', 'types', 'vicinity', 'place_id', 'no']].reset_index(drop=True)

## コンビニエンスストア

In [140]:
place_type = 'convenience_store'
df_conveni_result = get_nearby_place(place_type, df_pop_master)
print(df_conveni_result.shape)

(62360, 19)

In [143]:
df_conveni_result_2 = drop_duplicates_nearby_results(df_conveni_result)
print(df_conveni_result_2.shape)

df_conveni_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(6405, 8)

In [145]:
df_conveni_result_2.head()

,name,lat,lng,rating,types,vicinity,place_id,no
0,NewDays KIOSK 東京駅新幹線ホーム6D,35.681797,139.767794,3.3,"[convenience_store, store, food, point_of_inte...",千代田区丸の内１丁目９−１ ２Ｆ 新幹線22･23番線ホーム 上野方 JR東京駅,ChIJSf6_b0SLGGARDHnAwL3F3z4,101003
1,NewDays KIOSK 東京駅新幹線ホーム6C,35.681231,139.767599,3.8,"[convenience_store, store, food, point_of_inte...",千代田区丸の内１丁目９−１ ２Ｆ 新幹線22･23番線ホーム 中央 上野方 JR 東京駅,ChIJXUP29vuLGGARQoX5hMSBrAs,101003
2,NewDaysミニ 東ホ5C,35.681242,139.767358,4.2,"[convenience_store, store, food, point_of_inte...",千代田区丸の内１丁目９−１ 新幹線20･21番線ホーム 上野方 JR 東京駅 ２Ｆ,ChIJnbgE8fuLGGAR8V12kuRnYLs,101003
3,ギフトキヨスク,35.681293,139.768049,3.8,"[convenience_store, store, food, point_of_inte...",千代田区丸の内１丁目９−１,ChIJcWjkC_yLGGARrmvIpBist1g,101003
4,NDGS東京八重洲北口,35.681864,139.766912,4.3,"[convenience_store, store, food, point_of_inte...",千代田区丸の内１丁目９−１ Ｂ１Ｆ 八重洲北口改札外 JR 東京駅,ChIJ4VNhVPmLGGARlDiCUTipG7E,101003

## スーパーマーケット

In [146]:
place_type = 'supermarket'
df_super_result = get_nearby_place(place_type, df_pop_master)
print(df_super_result.shape)

(51335, 19)

In [149]:
df_super_result_2 = drop_duplicates_nearby_results(df_super_result)
print(df_super_result_2.shape)

df_super_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(2060, 8)

In [150]:
df_super_result_2.head()

,name,lat,lng,rating,types,vicinity,place_id,no
0,明治屋八重洲口ストアー,35.681678,139.768957,3.9,"[supermarket, grocery_or_supermarket, food, po...",千代田区丸の内１丁目９−１ 大丸東京店地下1階,ChIJ8dXQXvmLGGAR68mVOQ_35xQ,101003
1,日本の御馳走 えん 新丸ビル店,35.682470,139.764066,3.8,"[supermarket, grocery_or_supermarket, food, po...",千代田区丸の内１丁目５−１ 新丸の内ビルディング B1,ChIJFVLegm2LGGARof1KeA6BRf0,101003
2,EPICERIE BONHEUR 成城石井 大手町店,35.685554,139.765368,3.8,"[supermarket, grocery_or_supermarket, food, po...",千代田区大手町１丁目５−５ 大手町タワー B2F,ChIJx8ovgfiLGGARyOzWfvXOglg,101003
3,明治屋 京橋ストアー,35.677360,139.770151,4.1,"[supermarket, grocery_or_supermarket, liquor_s...",中央区京橋２丁目２−８ 明治屋京橋ビル 1F,ChIJ63DEOuOLGGAR7TP3u_UsseY,101003
4,味百選銘菓百選,35.680782,139.773393,4.3,"[supermarket, grocery_or_supermarket, food, po...",中央区日本橋２丁目４−１ 高島屋本館 B1,ChIJjXGY2_mJGGARCsSgeMa6AQM,101003

## 最寄り駅

In [129]:
place_type = 'train_station'
df_station = get_nearby_place(place_type, df_pop_master)
print(df_station.shape)

(62820, 18)

In [136]:
# no(地域ID)ごとに一番近い駅だけを抽出
df_station_2 = drop_duplicates_nearby_results(df_station, 'no')
print(df_station_2.shape)

df_station_2.to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(3141, 8)

In [138]:
df_station_2.head()

,name,lat,lng,rating,types,vicinity,place_id,no
0,東京駅,35.681236,139.767125,4.3,"[transit_station, subway_station, train_statio...",千代田区丸の内１丁目,ChIJC3Cf2PuLGGAROO00ukl8JwA,101003
1,東京駅,35.681236,139.767125,4.3,"[transit_station, subway_station, train_statio...",千代田区丸の内１丁目,ChIJC3Cf2PuLGGAROO00ukl8JwA,101004
2,有楽町駅,35.675013,139.763020,3.7,"[transit_station, train_station, subway_statio...",千代田区有楽町２丁目,ChIJ1UxPReWLGGARagE2MSfXh7g,101005
3,大手町駅,35.685349,139.763278,3.6,"[transit_station, train_station, subway_statio...",千代田区大手町２丁目１−１,ChIJnUcMGviLGGAROCgXeJNX4xg,101007
4,大手町駅,35.685349,139.763278,3.6,"[transit_station, subway_station, train_statio...",千代田区大手町２丁目１−１,ChIJnUcMGviLGGAROCgXeJNX4xg,101008